@model Product
@*<div class="well">
    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">
            @Model.Price.ToString("c")
        </span>
    </h3>
    <form id="@Model.ID" asp-action="Add" asp-controller="Cart" method="post">
        <input type="hidden" asp-for="ID" />
        <input type="hidden" name="URL"
               value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="lead">
            @Model.Description
            <button type="submit" class="btn btn-success btn-sm pull-right">
                Add To Cart
            </button>
        </span>
    </form>
</div>*@

<div class="row clearmargin clearpadding row-image-txt">
    <div class="col-xs-12 col-sm-6 col-md-6 clearmargin clearpadding col-sm-push-6" style="background-image:url(&quot;assets/img/office-front.jpeg&quot;);background-size:cover;height:400px;background-position:center;">
        <div></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6" style="padding:20px;">
        <h1 class="text-center">Admin Account</h1>
        <hr>
        <p class="text-justify" style="width:600px;margin-right:0px;margin-left:0px;padding-left:300px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel lorem a lectus finibus bibendum ut sagittis diam. Nunc egestas nulla in elit congue, id pellentesque ex semper. Aenean euismod tellus tincidunt massa eleifend, a efficitur lectus
            ultricies. Aliquam bibendum et leo quis consectetur. Integer consequat consequat mauris, id porttitor sem feugiat eu. Proin ac neque eu nisi viverra mattis. Curabitur molestie lectus ac sollicitudin faucibus. Duis congue ipsum eget justo
            egestas blandit.
        </p>
        <div style="text-align:center"></div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Transactions Register</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <h4>Name </h4>
            </div>
            <div class="col-md-7">
                <h4>Amount </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="media">
                    <div class="media-left">
                        <a><img class="img-circle" src="assets/img/user-photo3.jpg" width="50" height="50"></a>
                    </div>
                    <div class="media-body">
                        <h4><a href="#">@Model.Name</a><span class="label label-success">@Model.ID</span></h4>
                        <p class="text-muted">
                            @Model.Launched
                            <br>
                            @Model.Rating
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <p>
                    <span class="h3">@Model.Price.ToString("c")</span>
                    <br>
                    <strong> </strong><a href="#">View Details</a>
                </p>
                <p></p>
            </div>
            <div class="col-md-3 text-right">
                <div class="btn-group" role="group">
                    <a class="btn btn-primary" role="button" href="EditUser.html"><i class="fa fa-pencil"></i> Edit </a>
                    <button class="btn btn-primary" type="button"> <i class="fa fa-trash-o"></i></button>
                </div>
            </div>
        </div>
     </div>
</div>
