@model IEnumerable<ElementViewModel>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">PassAway</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            @foreach (var item in Model)
            {
                <li>
                    @if (item is FormElementViewModel)
                    {
                        <a>
                            <form asp-controller="@item.Controller" asp-action="@item.Action" method="post">
                                <input type="submit" value="@item.Name" style="border:hidden; background-color:hsl(0, 0%, 13%)"/>
                            </form>
                        </a>
                    }
                    else
                    {
                        <a asp-area="@item.Area" asp-controller="@item.Controller" asp-action="@item.Action">@item.Name</a>
                    }
                </li>
            }
            </ul>
        </div>
    </div>
</nav>

